body {
  background-color: $primaryColour;
  overflow-x: hidden;
}

html, body, #app {
  @apply h-full;
  @screen md {
    height: unset;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: TitleFont, Helvetica, Arial, sans-serif;
}

p, li, input[type="text"], a {
  font-family: BodyFont, serif;
  font-size: 18px;
}

.page-link {
  color: $secondaryColour;
  font-weight: bold;
}

.gradient-section {
  background: linear-gradient(180deg, rgba($primaryColour, 0.5) 0%, transparent 100%);
  margin-top: -50px;
  padding-top: 50px;
}

.headline-container {
  @apply grid grid-cols-1 md:grid-cols-5 gap-4 p-5 w-full;
}

ul {
  &.bullet li{
    padding-left: 30px;
    position: relative;
    margin-bottom: 1.5rem;
  }

  &.bullet li::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 3px;
    background: $lightColour;
    border: 1px solid $secondaryColour;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: -1px 3px 0px $secondaryColour;
  }
}